<header>
	<div id="logo">
	  <a href="#landing"><img src="images/logo-small.png"></a>
	</div>
	<div id="header-slider">
	  <!-- <img src="images/name.png"> -->
	  <nav>
	    <ul>
	      <li class="nav-link"><a href="#/home">Home</a></li>
	      <li class="nav-divider"> / </li>
	      <li class="nav-link"><a href="#/projects">Projects</li>
	      <li class="nav-divider"> / </li>
	      <li class="nav-link"><a href="#/about">About</a></li>
	      <li class="nav-divider"> / </li>
	      <li class="nav-link"><a href="#/contact">Contact</a></li>
	      <div class="clear_fix"></div>
	    </ul>
	  </nav>
	</div>
</header>