<!DOCTYPE html>
<html lang="en">
	<head>
		<title>No Anchor</title>
		<meta charset="utf-8" />
		<!--<meta name="viewport" content="width=device-width">-->
		<meta name="description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
		<meta name="keywords" content="No Anchor" />

        <meta property="og:url" content="http://noanchor.com/" />
        <meta property="og:title" content="No Anchor" />
        <meta property="og:description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
        <meta property="og:image" content="http://noanchor.com/images/na_banner-1.png" />

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->

		<!-- Skeleton Framework -->
		<!-- <link rel="stylesheet" type="text/css" href="css/skeleton.css"> -->

		<!-- Main -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900,700' rel='stylesheet' type='text/css'>

		<!-- script -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/read_more.js"></script>
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="header_top"></div>
				<div id="header_bottom"></div>
				<div id="header_texture"></div>
				<div id="header_nav" class="container">
					<div id="logo">
						<a href="index.html"><img src="images/na_logo.png" alt="No Anchor Logo"></a>
						<div id="logo_text"><a href="index.html">NO ANCHOR</a></div>
					</div> <!-- end logo -->
					<nav>
						<ul>
							<li><a href="http://noanchorproject.bigcartel.com/">SHOP</a></li>
							<li><a class="active" href="media.html">MEDIA</a></li>
							<li><a href="#contact_form">CONTACT</a></li>
							<li><a href="index.html#who_we_are">WHO WE ARE</a></li>
						</ul>
						<ul id="icons">
							<li><a id="facebook" href="https://www.facebook.com/noanchorproject">Facebook</a></li>
							<li><a id="youtube" href="http://www.youtube.com/user/NoAnchorTV">Youtube</a></li>
							<li><a id="tumblr" href="http://noanchorproject.tumblr.com/">Tumblr</a></li>
							<li><a id="twitter" href="https://twitter.com/NoAnchorProject">Twitter</a></li>
							<li><a id="vimeo" href="http://vimeo.com/noanchor">Vimeo</a></li>
							<li><a id="insta" href="http://instagram.com/NoAnchorProject/#">Instagram</a></li>
						</ul>
					</nav>
				</div> <!--end container -->
			</header>

			<div id="main_content" class="container">

				<p class="pagination top"> <a href="media.html"> 1</a><a href="media-2.html" class="current"> 2</a><a href="media-3.html"> 3</a> <a href="media-4.html">4</a></p>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="275" src="http://www.youtube.com/embed/_pfj3mbAX7Y" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2> Weekends by No Anchor - Surfing in Vero </h2>
						    <div class="more-block">
						    	<p>Weekends is a pilot to a proposed web series based on action sports and adventure. Ed and Michael from No Anchor took a trip to Vero Beach, FL to meet up with pro surfer friends Logan and Cole. After a fun filled weekend we decided to make a pilot for a possible surfer web series. Make sure to spread the word if you want to see more! </p> <p>Song: FMLYBND - Electricity. No Anchor supports all kind of action sports, artists and musicians. If you or anyone you know would like to be in one of our videos, hit us up at <a href="http://noanchor.com/#contact_form"> our contact form.</a> </p>
						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/embed/_pfj3mbAX7Y">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/embed/_pfj3mbAX7Y"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/embed/_pfj3mbAX7Y" data-count="none">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="275" src="http://www.youtube.com/embed/G4QhmmwAco0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2> Tricking in the Dark - Ashes by No Anchor  </h2>
						    <div class="more-block">
						    	<p>For "Ashes", we took Casey Jones, a super talented 15 year-old tricker, out in a field and got crazy at 60 FPS with our Canon DSLRs. We had a blast on set and filmed for hours without getting into trouble. We were tricking all night. Its hard finding an open field to film all night at in the city. Cool film locations aren't really Orlando's specialty, but the talent here is amazing! </p> <p>Song: Sia - Breathe Me (Butch Clancy Remix) We have done a lot of tricking and parkour videos, but we do way more than that. No Anchor supports all kind of action sports, artists and musicians. If you or anyone you know would like to be in one of our videos, hit us up at <a href="http://noanchor.com/#contact_form"> our contact form.</a> </p>
						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/watch?v=G4QhmmwAco0">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/watch?v=G4QhmmwAco0"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/watch?v=G4QhmmwAco0" data-count="none">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="275" src="http://www.youtube.com/embed/N4nf5QwWonU" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2> Snowboarding Custom Rails and Fire - Timber by No Anchor  </h2>
						    <div class="more-block">
						    	<p>Snowboarding with No Anchor is a winter sport of its own. In No Anchor's snowboarding videos we log, jump cars, and light everything on fire! Check out more on our website.  </p>
								<p>All snowboard stunts are filmed in beautiful North Idaho by the No Anchor crew and team rider Lane Smith. Second snowboarder is Edwin Olding (NA Co-Owner). It's amazing what kind of abuse these boards will take, but we did break two boards in the making of this film. Lane's board by Never Summer Snowboards held up the whole time! </p>
								<p>Song: <a href="https://soundcloud.com/fmlybnd/far-away-1">FMLYBND - Far Away</a><br>
								Check these guys out! For real, do it now! <a href ="https://www.facebook.com/FMLYBND">FMLYBND</a></p>
								<p>Snowboarding is my all time favorite action sport! Just being in the fresh air and flying down a hill makes you feel free. No Anchor supports all kind of action sports, artists and musicians. If you or anyone you know would like to be in one of our videos, <a href="http://noanchor.com/#contact_form">hit us up!</a></p>
						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/embed/N4nf5QwWonU">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/embed/N4nf5QwWonU"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/embed/N4nf5QwWonU" data-count="none">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="275" src="http://www.youtube.com/embed/VF7JOmcWWZM" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2> Parkour in the Snow - Levitate by No Anchor </h2>
						    <div class="more-block">
						    	<p>Levitate is a short about a kid who dreams of pushing his limits and becoming the athlete he truly wants to be. Once he realizes his goals are achievable, he lets go of everything holding him back and pursues his dream! Truly representing the No Anchor lifestyle. Oh, and we parkour in the snow! </p>
						<p>Live Life Anchorless. No Anchor is a collective of artists, producers, athletes, and visionaries all coming together to share their aspirations and accomplishments with the world.</p>
						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/embed/VF7JOmcWWZM">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/embed/VF7JOmcWWZM"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/embed/VF7JOmcWWZM" data-count="none">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<p class="pagination bottom"> <a href="media.html" > 1</a><a href="media-2.html"class="current"> 2</a><a href="media-3.html"> 3</a> <a href="media-4.html">4</a></p>

			</div> <!--end main_content -->

			<footer>
				<div class="container">
					<div id="contact_form">
				        <h2>Contact</h2>
				        <form class="input_text" action="js/contact.php" method="post"><input type='hidden' name='__token_timestamp__' value='1402432837'><input type='hidden' name='__token_val__' value='7313fd8adb997add1626f7e716e8d70d'><input type='hidden' name='__token_timestamp__' value='1399963640'><input type='hidden' name='__token_val__' value='8f070e53def3df50043515c398a2cd1b'><input type='hidden' name='__token_timestamp__' value='1395814337'><input type='hidden' name='__token_val__' value='04463db26e16afd461e764e689b9cfd4'>
				            <input type="text" id="input_name" name="cf_name" placeholder="Your Name"><br>
				            <input type="text" id="input_email" name="cf_email" placeholder="Your Email Address"><br>
				            <input type="text" name="cf_color" placeholder="Your Favorite Color"><br>
				            <textarea id="input_message" name="cf_message" placeholder="Your Message"></textarea><br>
				          	<input type="submit" value="Send">
				        </form>
				        <div class="spacer"></div>
				        <h2>Join the NA Crew!</h2>
				        <form class="input_text" action="js/subscribe.php" method="post"><input type='hidden' name='__token_timestamp__' value='1402432837'><input type='hidden' name='__token_val__' value='7313fd8adb997add1626f7e716e8d70d'><input type='hidden' name='__token_timestamp__' value='1399963640'><input type='hidden' name='__token_val__' value='8f070e53def3df50043515c398a2cd1b'><input type='hidden' name='__token_timestamp__' value='1395814337'><input type='hidden' name='__token_val__' value='04463db26e16afd461e764e689b9cfd4'>
				        	<input type="text" id="input_subscribe_email" name="subscribe_email" placeholder="Your Email Address">
				          	<input type="submit" value="Join!">
				        </form>
	      			</div>

      				<a href="http://www.youtube.com/user/NoAnchorTV?feature=watch"><img src="images/na_howard.png" alt="Howard the deer skull on a tv - No Anchor TV"/></a>

      			</div>
			</footer>

		</div> <!-- end wrapper -->

	</body>
</html>