<!DOCTYPE html>
<html lang="en">
	<head>
		<title>No Anchor</title>
		<meta charset="utf-8" />
		<!--<meta name="viewport" content="width=device-width">-->
		<meta name="description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
		<meta name="keywords" content="No Anchor" />

        <meta property="og:url" content="http://noanchor.com/" />
        <meta property="og:title" content="No Anchor" />
        <meta property="og:description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
        <meta property="og:image" content="http://noanchor.com/images/na_banner-1.png" />

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->

		<!-- Skeleton Framework -->
		<!-- <link rel="stylesheet" type="text/css" href="css/skeleton.css"> -->

		<!-- Main -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900,700' rel='stylesheet' type='text/css'>

		<!-- Slider JS -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/easySlider1.7.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#slider").easySlider({
					auto: true,
					continuous: true
				});
			});
		</script>

	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="header_top"></div>
				<div id="header_bottom"></div>
				<div id="header_texture"></div>
				<div id="header_nav" class="container">
					<div id="logo">
						<a href="index.html"><img src="images/na_logo.png" alt="No Anchor Logo"></a>
						<div id="logo_text"><a href="index.html">NO ANCHOR</a></div>
					</div> <!-- end logo -->
					<nav>
						<ul>
							<li><a target="_blank" href="http://noanchorproject.bigcartel.com/">SHOP</a></li>
							<li><a href="media.html">MEDIA</a></li>
							<li><a href="#contact_form">CONTACT</a></li>
							<li><a href="#who_we_are">WHO WE ARE</a></li>
						</ul>
						<ul id="icons">
							<li><a id="facebook" href="https://www.facebook.com/noanchorproject">Facebook</a></li>
							<li><a id="youtube" href="http://www.youtube.com/user/NoAnchorTV">Youtube</a></li>
							<li><a id="tumblr" href="http://noanchorproject.tumblr.com/">Tumblr</a></li>
							<li><a id="twitter" href="https://twitter.com/NoAnchorProject">Twitter</a></li>
							<li><a id="vimeo" href="http://vimeo.com/noanchor">Vimeo</a></li>
							<li><a id="insta" href="http://instagram.com/NoAnchorProject/#">Instagram</a></li>
						</ul>
					</nav>
				</div> <!--end container -->
			</header>

			<div id="main_content" class="container">

				<section id="banner">
					<div id="slider">
                                                <img src="images/TOURwebheader.png" alt="Say hello to the new No Anchor!" />
						<!-- <ul>
							<li><a target="_blank" href="http://www.noanchorproject.bigcartel.com"><img src="images/TOURwebheader.png" alt="Say hello to the new No Anchor!" /></a></li>
							<li><a target="_blank" href="https://www.youtube.com/watch?v=_pfj3mbAX7Y"><img src="images/na_banner-2.png" alt="No Anchor Art for TYCO" /></a></li>
							<li><a target="_blank" href="http://www.youtube.com/watch?v=N4nf5QwWonU"><img src="images/na_banner-3.png" alt="Timber by No Anchor" /></a></li>
							<li><a target="_blank" target="_blank" href="http://www.youtube.com/watch?v=g7HlMWhLgs0"><img src="images/na_banner-4.png" alt="Preview the new track Wolfan here first!" /></a></li>
						</ul> -->
					</div> <!-- end slider -->
				</section>

				<section id="kickstart">
					<div id="video">
						<iframe width="400" height="275" src="http://www.youtube.com/embed/g7HlMWhLgs0?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div id="kickstart_title">
						<p>Light Painting Beyond the Shadows</p>
					</div>
					<div id="kickstart_text">
						<p> Beyond the Shadows - KOAN Sound x Gemini x Culprate x Asa <br> This video is No Anchor's first full length music video and our most intensive project so far! </p>
					</div>
				</section>

				<section id="instagram">

					<!-- SnapWidget -->
					<iframe src="http://snapwidget.com/in/?u=bm9hbmNob3Jwcm9qZWN0fGlufDE5NXw0fDJ8fG5vfDIwfG5vbmV8b25TdGFydHx5ZXM=&v=18913" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:860px; height: 420px" ></iframe>
					<!--<script src="https://d36hc0p18k1aoc.cloudfront.net/public/js/modules/tintembed.js"></script><div class="tintup" data-id="noanchor" data-columns="4"  style="height:400px;width:940px;"><a href="http://www.tintup.com" style="width:118px;height:31px;background-image:url(//d33w9bm0n1egwm.cloudfront.net/assets/logos/poweredbytintsmall.png);position:absolute;bottom:10px;right: 20px;text-indent: -9999px;z-index:9;">hashtag aggregation</a></div>-->
				</section>

				<section id="who_we_are">
					<img src="images/na_who_we_are.png" alt="Who We Are">
					<p>
						No Anchor is a collective of artists, producers, and athletes, all coming together under one roof to share their aspirations and
						accomplishments with the world. We live to advance our skills and character every day, and Don't let ANYTHING hold us back.
						We’re a lifestyle. We’re A Brand. We’re a Production Company.

						<br /><br />We Are No Anchor.
					</p>
				</section>

			</div> <!--end main_content -->

			<footer>
				<div class="container">
					<div id="contact_form">
				        <h2>Contact</h2>
				        <form class="input_text" action="js/contact.php" method="post">
				            <input type="text" id="input_name" name="cf_name" placeholder="Your Name"><br>
				            <input type="text" id="input_email" name="cf_email" placeholder="Your Email Address"><br>
				            <input type="text" name="cf_color" placeholder="Your Favorite Color"><br>
				            <textarea id="input_message" name="cf_message" placeholder="Your Message"></textarea><br>
				          	<input type="submit" value="Send">
				        </form>
				        <div class="spacer"></div>
				        <h2>Join the NA Crew!</h2>
				        <form class="input_text" action="js/subscribe.php" method="post">
				        	<input type="text" id="input_subscribe_email" name="subscribe_email" placeholder="Your Email Address">
				          	<input type="submit" value="Join!">
				        </form>
	      			</div>

      				<a href="http://www.youtube.com/user/NoAnchorTV?feature=watch"><img src="images/na_howard.png" alt="Howard the deer skull on a tv - No Anchor TV"/></a>

      			</div>
			</footer>

		</div> <!-- end wrapper -->

		<!-- Slider JS -->
		<script type="text/javascript" src="js/jquery.js"></script>
		
		<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-44110637-1', 'noanchor.com'); ga('send', 'pageview');
		</script>

	</body>
</html>