<!DOCTYPE html>
<html lang="en">
	<head>
		<title>No Anchor</title>
		<meta charset="utf-8" />
		<!--<meta name="viewport" content="width=device-width">-->
		<meta name="description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
		<meta name="keywords" content="No Anchor" />

        <meta property="og:url" content="http://noanchor.com/" />
        <meta property="og:title" content="No Anchor" />
        <meta property="og:description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
        <meta property="og:image" content="http://noanchor.com/images/na_banner-1.png" />

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->

		<!-- Skeleton Framework -->
		<!-- <link rel="stylesheet" type="text/css" href="css/skeleton.css"> -->

		<!-- Main -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900,700' rel='stylesheet' type='text/css'>

		<!-- script -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/read_more.js"></script>
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="header_top"></div>
				<div id="header_bottom"></div>
				<div id="header_texture"></div>
				<div id="header_nav" class="container">
					<div id="logo">
						<a href="index.html"><img src="images/na_logo.png" alt="No Anchor Logo"></a>
						<div id="logo_text"><a href="index.html">NO ANCHOR</a></div>
					</div> <!-- end logo -->
					<nav>
						<ul>
							<li><a href="http://noanchorproject.bigcartel.com/">SHOP</a></li>
							<li><a class="active" href="media.html">MEDIA</a></li>
							<li><a href="#contact_form">CONTACT</a></li>
							<li><a href="index.html#who_we_are">WHO WE ARE</a></li>
						</ul>
						<ul id="icons">
							<li><a id="facebook" href="https://www.facebook.com/noanchorproject">Facebook</a></li>
							<li><a id="youtube" href="http://www.youtube.com/user/NoAnchorTV">Youtube</a></li>
							<li><a id="tumblr" href="http://noanchorproject.tumblr.com/">Tumblr</a></li>
							<li><a id="twitter" href="https://twitter.com/NoAnchorProject">Twitter</a></li>
							<li><a id="vimeo" href="http://vimeo.com/noanchor">Vimeo</a></li>
							<li><a id="insta" href="http://instagram.com/NoAnchorProject/#">Instagram</a></li>
						</ul>
					</nav>
				</div> <!--end container -->
			</header>

			<div id="main_content" class="container">

				<p class="pagination top"> <a href="media.html"> 1</a><a href="media-2.html"> 2</a><a href="media-3.html"> 3</a> <a href="media-4.html" class="current">4</a></p>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="270" src="http://www.youtube.com/embed/voy2qpQ6DA4" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2>No Anchor - Coming Soon</h2>
						    <div class="more-block">
						    	<p>No Anchor’s first AD. This is really a demo of all the exciting projects we are working on. No Anchor has so many videos coming out in October we just couldn't wait to show you what we are up to! Throughout October we be be launching a Kickstarter video for our shirts, a light painting VFX video, music videos and parkour videos.</p>
								<p>The No Anchor Crew is growing everyday and we couldn't be more excited! Please join our mailing list and stay up to date on the action!</p>
						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/watch?v=voy2qpQ6DA4">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/watch?v=voy2qpQ6DA4"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/watch?v=voy2qpQ6DA4" data-count="none">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<p class="pagination bottom"> <a href="media.html"> 1</a><a href="media-2.html"> 2</a><a href="media-3.html"> 3</a> <a href="media-4.html" class="current">4</a></p>

			</div> <!--end main_content -->

			<footer>
				<div class="container">
					<div id="contact_form">
				        <h2>Contact</h2>
				        <form class="input_text" action="js/contact.php" method="post"><input type='hidden' name='__token_timestamp__' value='1402432837'><input type='hidden' name='__token_val__' value='7313fd8adb997add1626f7e716e8d70d'><input type='hidden' name='__token_timestamp__' value='1399963640'><input type='hidden' name='__token_val__' value='8f070e53def3df50043515c398a2cd1b'><input type='hidden' name='__token_timestamp__' value='1395814337'><input type='hidden' name='__token_val__' value='04463db26e16afd461e764e689b9cfd4'>
				            <input type="text" id="input_name" name="cf_name" placeholder="Your Name"><br>
				            <input type="text" id="input_email" name="cf_email" placeholder="Your Email Address"><br>
				            <input type="text" name="cf_color" placeholder="Your Favorite Color"><br>
				            <textarea id="input_message" name="cf_message" placeholder="Your Message"></textarea><br>
				          	<input type="submit" value="Send">
				        </form>
				        <div class="spacer"></div>
				        <h2>Join the NA Crew!</h2>
				        <form class="input_text" action="js/subscribe.php" method="post"><input type='hidden' name='__token_timestamp__' value='1402432837'><input type='hidden' name='__token_val__' value='7313fd8adb997add1626f7e716e8d70d'><input type='hidden' name='__token_timestamp__' value='1399963640'><input type='hidden' name='__token_val__' value='8f070e53def3df50043515c398a2cd1b'><input type='hidden' name='__token_timestamp__' value='1395814337'><input type='hidden' name='__token_val__' value='04463db26e16afd461e764e689b9cfd4'>
				        	<input type="text" id="input_subscribe_email" name="subscribe_email" placeholder="Your Email Address">
				          	<input type="submit" value="Join!">
				        </form>
	      			</div>

      				<a href="http://www.youtube.com/user/NoAnchorTV?feature=watch"><img src="images/na_howard.png" alt="Howard the deer skull on a tv - No Anchor TV"/></a>

      			</div>
			</footer>

		</div> <!-- end wrapper -->

	</body>
</html>