<!DOCTYPE html>
<html lang="en">
	<head>
		<title>No Anchor</title>
		<meta charset="utf-8" />
		<!--<meta name="viewport" content="width=device-width">-->
		<meta name="description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
		<meta name="keywords" content="No Anchor" />

        <meta property="og:url" content="http://noanchor.com/" />
        <meta property="og:title" content="No Anchor" />
        <meta property="og:description" content="No Anchor is a lifestyle brand and production company dedicated to bringing you the latest action sports videos and newest music. Stay up to date on all our social media sites!" />
        <meta property="og:image" content="http://noanchor.com/images/na_banner-1.png" />

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->

		<!-- Skeleton Framework -->
		<!-- <link rel="stylesheet" type="text/css" href="css/skeleton.css"> -->

		<!-- Main -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:900,700' rel='stylesheet' type='text/css'>

		<!-- script -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/read_more.js"></script>
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

	</head>
	<body>
		<div id="wrapper">

			<header>
				<div id="header_top"></div>
				<div id="header_bottom"></div>
				<div id="header_texture"></div>
				<div id="header_nav" class="container">
					<div id="logo">
						<a href="index.html"><img src="images/na_logo.png" alt="No Anchor Logo"></a>
						<div id="logo_text"><a href="index.html">NO ANCHOR</a></div>
					</div> <!-- end logo -->
					<nav>
						<ul>
							<li><a href="http://noanchorproject.bigcartel.com/">SHOP</a></li>
							<li><a class="active" href="media.html">MEDIA</a></li>
							<li><a href="#contact_form">CONTACT</a></li>
							<li><a href="index.html#who_we_are">WHO WE ARE</a></li>
						</ul>
						<ul id="icons">
							<li><a id="facebook" href="https://www.facebook.com/noanchorproject">Facebook</a></li>
							<li><a id="youtube" href="http://www.youtube.com/user/NoAnchorTV">Youtube</a></li>
							<li><a id="tumblr" href="http://noanchorproject.tumblr.com/">Tumblr</a></li>
							<li><a id="twitter" href="https://twitter.com/NoAnchorProject">Twitter</a></li>
							<li><a id="vimeo" href="http://vimeo.com/noanchor">Vimeo</a></li>
							<li><a id="insta" href="http://instagram.com/NoAnchorProject/#">Instagram</a></li>
						</ul>
					</nav>
				</div> <!--end container -->
			</header>

			<div id="main_content" class="container">

				<p class="pagination top"> <a href="media.html" > 1</a><a href="media-2.html"> 2</a><a href="media-3.html" class="current"> 3</a> <a href="media-4.html">4</a></p>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="275" src="http://www.youtube.com/embed/g7HlMWhLgs0?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2> Light Painting Beyond the Shadows</h2>
						    <div class="more-block">
						    	<p>Light painting to Beyond the Shadows. Find more great videos at http://noanchor.com/

								A live-action light painting video we've been working on for quite some time. Set in an abandoned world, a mysterious figure searches to preserve the worlds light in any way possible.

								This video is No Anchor's first full length music video and our most intensive project so far! We used a Canon 60D to shoot RAW footage at a shorter aspect ratio with Magic Lantern. As for lenses, we exclusively used Canon's 50mm L-Series 1.2. We also used a GlidecamHD4000 for stabilization, and 2 thirty dollar LEDs for light.

								All the light painting lights were improvised from lights we had or created especially for this video.

								Music: Beyond the Shadows - KOAN Sound x Gemini x Culprate x Asa

								The track was created to raise money for the Movember charity, so if you like it, please donate HERE! http://inspected.bandcamp.com/track/cascade

								Used with permission by Inspected Records UK

								We'd like to thank Inspected Records for giving us the ok to use the track, our friends Jon, Shane, Helynn, and Chris, and family for supporting us.

								Related words light painting photography, painting with light, light painting, no anchor, noanchortv

								Light painting</p>

						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/watch?v=Ge_QayJ-aZA">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/watch?v=Ge_QayJ-aZA"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/watch?v=Ge_QayJ-aZA" data-count="none">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="315" src="http://www.youtube.com/embed/q3AlsmP4Fro?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2> Miami Parkour Jam with No Anchor</h2>
						    <div class="more-block">
						    	<p>Recently, No Anchor and Team Zoic joined some of our friends down in Miami for a parkour jam! We started out in a local park where we got some action off some playground structures, and then moved our way towards the FIU campus where everyone went wild. Us at No Anchor got some amazing shots and met some awesome people along the way! Special thanks to Florida PK, Melissa Rivera for the place to stay, and everyone involved! Stay up to date by following No Anchor on Instagram and Twitter @noanchorproject and #noanchor! See you guys soon!</p>

						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/watch?v=Ge_QayJ-aZA">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/watch?v=Ge_QayJ-aZA"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/watch?v=Ge_QayJ-aZA" data-count="none">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="270" src="http://www.youtube.com/embed/-ejxCw0o16o?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2>Audio Visual Animation - OFFICIAL NO ANCHOR SHORT </h2>
						    <div class="more-block">
						    	<p>Our first official No Anchor audio visual short! We've wanted to release this one for a while! The computer head has been a prop of ours for a while. For this audio visual video we had one Canon 7D, a Glidecam, and our 50mm as well as our 20-35mm. Mike took Ed downtown Orlando and made him walking around with the computer head on with tracking points. Then, mike took the footage into after effects, cut it how he wanted and then tracked the computer head plane with Mocha AE which comes standard with after effects. Solid tracking points are needed to get a good track. Then mike made the shape animation on the display, loaded up the footage with the track info, and it was off to color correction. Thanks for watching and stay tuned for more No Anchor!</p>
								<p>Check out our new computer head short featuring our computer head friend from no anchor fm! Stay tuned for a full video soon!</p>
						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/embed/-ejxCw0o16o">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/embed/-ejxCw0o16o"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/embed/-ejxCw0o16o" data-count="none">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<article class="media">
					<div class="media_video">
						<iframe width="400" height="270" src="http://www.youtube.com/embed/Ge_QayJ-aZA" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="media_info">
						<div class="more-less">
							<h2>Super Slow Motion Parkour and Free Running with Twixtor [NO ANCHOR OFFICIAL] </h2>
						    <div class="more-block">
						    	<p>Our first official No Anchor parkour and freerunning video! The story behind this one is great! Ed took a trip back home for his best friends wedding in september and they decided to rent all the video gear an extra day! For this slow motion parkour video we had two Canon 7Ds, a slider, Glidecam, and a Canon 28-70 2.8 L on top of our current gear.</p>
								<p>Ed had been doing a lot of research on how to make Twixtor Pro for After Effects look good before leaving and it turned out great! Turns out shooting is just as important and the Twixtor settings you use in post. If you are trying to get a good slow motion shot with Twixtor be sure to shot at 60fps (or as fast as you can) with a shutter speed over 800. This will eliminate all motion blur and your shot will look very clean. Also be sure to shoot a dark subject over a bright background. This contrast will help Twixtor decide what is background and what is foreground so you don’t have to do it by hand! Thanks for watching and stay in tune for more No Anchor!</p>
						    </div>
						</div>

						<div class="share_links">
							<ul>
								<li><a href="http://www.facebook.com/sharer.php?u=http://www.youtube.com/watch?v=Ge_QayJ-aZA">
								<img src="images/facebook_square_20.png"/></a></li>
								<li><div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.youtube.com/watch?v=Ge_QayJ-aZA"></div></li>
								<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.youtube.com/watch?v=Ge_QayJ-aZA" data-count="none">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
							</ul>
						</div>
					</div>
				</article>

				<p class="pagination bottom"> <a href="media.html" > 1</a><a href="media-2.html"> 2</a><a href="media-3.html" class="current"> 3</a> <a href="media-4.html">4</a></p>


			</div> <!--end main_content -->

			<footer>
				<div class="container">
					<div id="contact_form">
				        <h2>Contact</h2>
				        <form class="input_text" action="js/contact.php" method="post"><input type='hidden' name='__token_timestamp__' value='1402432837'><input type='hidden' name='__token_val__' value='7313fd8adb997add1626f7e716e8d70d'><input type='hidden' name='__token_timestamp__' value='1399963640'><input type='hidden' name='__token_val__' value='8f070e53def3df50043515c398a2cd1b'><input type='hidden' name='__token_timestamp__' value='1395814337'><input type='hidden' name='__token_val__' value='04463db26e16afd461e764e689b9cfd4'>
				            <input type="text" id="input_name" name="cf_name" placeholder="Your Name"><br>
				            <input type="text" id="input_email" name="cf_email" placeholder="Your Email Address"><br>
				            <input type="text" name="cf_color" placeholder="Your Favorite Color"><br>
				            <textarea id="input_message" name="cf_message" placeholder="Your Message"></textarea><br>
				          	<input type="submit" value="Send">
				        </form>
				        <div class="spacer"></div>
				        <h2>Join the NA Crew!</h2>
				        <form class="input_text" action="js/subscribe.php" method="post"><input type='hidden' name='__token_timestamp__' value='1402432837'><input type='hidden' name='__token_val__' value='7313fd8adb997add1626f7e716e8d70d'><input type='hidden' name='__token_timestamp__' value='1399963640'><input type='hidden' name='__token_val__' value='8f070e53def3df50043515c398a2cd1b'><input type='hidden' name='__token_timestamp__' value='1395814337'><input type='hidden' name='__token_val__' value='04463db26e16afd461e764e689b9cfd4'>
				        	<input type="text" id="input_subscribe_email" name="subscribe_email" placeholder="Your Email Address">
				          	<input type="submit" value="Join!">
				        </form>
	      			</div>

      				<a href="http://www.youtube.com/user/NoAnchorTV?feature=watch"><img src="images/na_howard.png" alt="Howard the deer skull on a tv - No Anchor TV"/></a>

      			</div>
			</footer>

		</div> <!-- end wrapper -->

	</body>
</html>