<div class="container">
	<section id="project">
		<div class="project-about">
			<div class="content-left">
				<div class="back-link"><a href="#/#projects"> &#171; Back to Projects </a></div>
				<h3>Bandmate</h3>
				<div class="divider"></div>
				<p>Bandmate is a social network designed to promote creativity in musicians by helping them meet and colloborate. This is a project that I've been designing and developing throughout my time at Full Sail University and it evolved greatly as I learned new web technologies and concepts. I completed the beta stage of Bandmate in a period of 3 months for my web final project. Though it hasn't been launched yet, Bandmate is a project that I will continue to work on and plan on launching in the future. I also recieved the Course Director's Award for this project in Web Final Project II.</p>
				<div class="divider"></div>
				<p><span class="label">Category:</span> Web Design & Development / Branding</p>
				<div class="divider"></div>
				<p><span class="label">Technologies:</span> AngularJS, Sails.js, MongoDB</p>
				<div class="divider"></div>
				<p><span class="label">Client:</span> Full Sail University - Web Final Project</p>
				<div class="divider"></div>
				<p><span class="label">Github:</span> <a href="https://github.com/nlaitchison/BandmateWFP" target="_blank">github.com/nlaitchison/BandmateWFP</a></p>
			</div>
		</div>

		<div class="project-images">
			<div class="content-right">
				<img src="images/bandmate/logo-large.png">
				<img src="images/bandmate/landing.png">
				<img src="images/bandmate/search.png">
				<img src="images/bandmate/profile.png">
			</div>
		</div>
		<div class="clear_fix"></div><!-- end project-->
	</section>
</div>

<footer class="project-footer">
	<p>&copy; 2014 Nicole Aitchison</p>
</footer>