<div class="container">
	<section id="project">
		<div class="project-about">
			<div class="content-left">
				<div class="back-link"><a href="index.html#projects"> &#171; Back to Projects </a></div>
				<h3> Lanciv </h3>
				<div class="divider"></div>
				<p>Lanciv provides managed IT services for small and medium sized companies and is currently based in Sydney, Australia. I designed their logo and business cards based on concepts and ideas provided by the client. The bright colors make the clean geometric logo fun and fresh while clear plastic brings a modern feel to the business card.</p>
				<div class="divider"></div>
				<p><span class="label">Category:</span> Branding / Print Design</p>
				<div class="divider"></div>
				<p><span class="label">Client:</span> <a href="https://www.facebook.com/LancivLLC" target="_blank">Lanciv LLC</a></p>
			</div>
		</div>

		<div class="project-images">
			<div class="content-right">
				<img src="images/lanciv/logo-large.png">
				<img src="images/lanciv/buisnesscard.png">
			</div>
		</div>

		<div class="clear_fix"></div><!-- end project-->
	</section>
</div>

<footer class="project-footer">
	<p>&copy; 2014 Nicole Aitchison</p>
</footer>