<div id="home">

	<section id="landing">
		<div class="container">
			<div class="landing-img floating">
				<img src="images/logo_large-2.png">
				<p> work in progress D: </p>
			</div>
		</div> <!-- end container -->
	</section> <!-- end landing -->

	<section id="projects">
		<div class="container">
			<h2> PROJECTS </h2>
			<ul class="thumbs">
				<li class="lanciv"><a ng-href="#/projects/lanciv"><img src="images/lanciv-thumb.png"></a></li>
				<li class="bandmate"><a ng-href="#/projects/bandmate"><img src="images/bandmate-thumb.png"></a></li>
				<li class="fatwreck"><img src="images/fat-thumb.png"></li>
				<li class="loven"><img src="images/loven-thumb.png"></li>
				<li class="noanchor"><img src="images/noanchor-thumb.png"></li>
				<li class="akero.html"><img src="images/akero-thumb.png"></li>
				<div class="clear_fix"></div>
			</ul>
		</div> <!-- end container -->
	</section> <!-- end projects -->

	<section id="about">
		<div class="container">
			<div class="about-images">
				<img src="images/aboutme.png">
			</div>
			<div class="about-desc">
				<div class="content">
					<h3> My Name&#39;s </h3>
					<h2> Nicole Aitchison.</h2>
					<!-- <div class="divider"></div> -->
					<p>(That&#39;s me on the right.) </p>
					<p>I&#39;m a 20 year old web designer and front-end developer with a passion for minimal design and beautifying the web. I want to use my skills as a designer/developer to contribute to the music industry and promote creativity in others. </p>
					<p> <a href="Nicole_Aitchison-Resume.pdf" target="_blank">&#187; View My Resume</a></p>
					<ul class="social">
						<li><span class="icon"><img src="images/phone-icon.png" align="middle"></span><span class="text">936.446.7392</span></li>
						<li><span class="icon"><img src="images/email-icon.png" align="middle"></span><span class="text">nlaitchison@gmail.com</span></li>
						<li><span class="icon"><img src="images/github-icon.png" align="middle"></span><span class="text"><a href="https://github.com/nlaitchison">github.com/nlaitchison</a></span></li>
					</ul>
				</div>
			</div>
			<div class="clear_fix"></div>
		</div> <!-- end container -->
	</section> <!-- end projects -->

</div> <!-- end home -->

<footer>
	<p>&copy; 2014 Nicole Aitchison</p>
</footer>