<div id="home">

	<section id="landing">
		<div class="container">

			<div id="logo-svg">
				<svg height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<path class="path" d="M 41.326 173.952 L 74.279 135.517 L 82.859 147.943 L 41.362 195.919 L 21.607 195.919 L 21.607 13.309 L 41.326 13.309 L 167.24 195.919 L 149.681 195.919 L 41.326 38.962 L 41.326 173.952 L 74.279 135.517" fill="transparent" stroke="white" stroke-width="3"/>

					<path class="path" d="M 179.285 35.585 L 146.365 73.946 L 137.779 61.521 L 179.285 13.309 L 198.401 13.309 L 198.401 195.919 L 179.285 195.919 L 52.889 13.309 L 70.45 13.309 L 179.285 171.049 L 179.285 35.585 L 146.365 73.946" fill="transparent" stroke="white" stroke-width="3"/>
				</svg>
<!-- 				<svg class="fill" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<path class="fillLogo" d="M 41.326 173.952 L 74.279 135.517 L 82.859 147.943 L 41.362 195.919 L 21.607 195.919 L 21.607 13.309 L 41.326 13.309 L 167.24 195.919 L 149.681 195.919 L 41.326 38.962 L 41.326 173.952 L 74.279 135.517" fill="white" stroke="transparent" stroke-width="3"/>

					<path class="fillLogo" d="M 179.285 35.585 L 146.365 73.946 L 137.779 61.521 L 179.285 13.309 L 198.401 13.309 L 198.401 195.919 L 179.285 195.919 L 52.889 13.309 L 70.45 13.309 L 179.285 171.049 L 179.285 35.585 L 146.365 73.946" fill="white" stroke="transparent" stroke-width="3"/>
				</svg> -->

			</div>

			<div class="landing-img">
				<img src="images/name-white.png">
				<!-- <img src="images/logo_large-2.png"> -->

			</div>
		</div> <!-- end container -->
	</section> <!-- end landing -->

	<section id="projects">
		<div class="container">
			<h2> PROJECTS </h2>
			<ul class="thumbs">
				<li><a ng-href="#/projects/lanciv"><img src="images/lanciv-thumb.png"></a></li>
				<li><a ng-href="#/projects/bandmate"><img src="images/bandmate-thumb.png"></a></li>
				<li><a ng-href="#/projects/fatwreck"><img src="images/fat-thumb.png"></a></li>
				<li><a ng-href="#/projects/loven"><img src="images/loven-thumb.png"></a></li>
				<li><a ng-href="#/projects/noanchor"><img src="images/noanchor-thumb.png"></a></li>
				<li><a ng-href="#/projects/akero"><img src="images/akero-thumb.png"></a></li>
				<div class="clear_fix"></div>
			</ul>
		</div> <!-- end container -->
	</section> <!-- end projects -->

	<section id="about">
		<div class="container">
			<div class="about-images">
				<img src="images/aboutme.png">
			</div>
			<div class="about-desc">
				<div class="content">
					<h3> My Name&#39;s </h3>
					<h2> Nicole Aitchison.</h2>
					<!-- <div class="divider"></div> -->
					<p>(That&#39;s me on the right.) </p>
					<p>I&#39;m a 20 year old web designer and front-end developer with a passion for minimal design and beautifying the web. I want to use my skills as a designer/developer to contribute to the music industry and promote creativity in others. </p>
					<p> <a ng-href="images/Nicole_Aitchison-Resume.pdf" target="_blank">&#187; View My Resume</a></p>
					<ul class="social">
						<li><span class="icon"><img src="images/phone-icon.png" align="middle"></span><span class="text">936.446.7392</span></li>
						<li><span class="icon"><img src="images/email-icon.png" align="middle"></span><span class="text">nlaitchison@gmail.com</span></li>
						<li><span class="icon"><img src="images/github-icon.png" align="middle"></span><span class="text"><a href="https://github.com/nlaitchison">github.com/nlaitchison</a></span></li>
					</ul>
				</div>
			</div>
			<div class="clear_fix"></div>
		</div> <!-- end container -->
	</section> <!-- end projects -->

</div> <!-- end home -->

<footer>
	<p>&copy; 2014 Nicole Aitchison</p>
</footer>